{% extends 'base.html' %}

{% block title %} Welcome back {{ user }} {% endblock %}

{% block nav %}
    <body class="main-layout">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="index.html"><img src="/images/logo.png" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">
              
               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="/">Home</a> </li>
                      <li  > <a  class="last_manu" href="#"><img src="/images/search_icon.png" alt="#" /></a> </li>
                      
                     </ul>
                     <form action="/logout?_method=DELETE" method="POST">
                        <ul class="menu-area-main">
                        <li><button type="Submit">Logout</button></li>
                       </ul>
                     </form>
                   </nav>
                
               </div> 
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->
{% endblock %}
{% block content %}
<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- about  -->
<div id="about" class="about">
  <div class="container">
    <div class="row display_boxflex">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>Welcome back {{ user }}</h2>
          <form class="about-box contact_bg" method="GET">
            <input class="contactus" type="text" placeholder="Search tracks" name="searchQuery" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure><img src="/images/about.png" alt="#" /></figure>
        </div>
      </div>
    </div>
    <div class="row display_boxflex">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          {% if searchResults %}
          <table>
          {% for result in searchResults %}
          <tr>
            <td> {{ result.name }} - {{ result.artist }} - <a href="/track?trackId={{result.trackId}}&name={{result.name}}"><i class="fa fa-plus-square"></i></a></td>
          </tr>
          {% else %}
          <tr><td> Couldn't find any tracks</td></tr>
          {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="">
          <h3>Playlists</h3>
          {% if playlists %}
          {% for playlist in playlists %}
            <a href="/playlist/{{ playlist.id }}">{{ playlist.name }} - {{ playlist.trackCount }}</a>
            <br>
            {% if loop.last %}
            <br>
            <a href="/playlist">Add playlist - <i class="fa fa-plus-square"></i></a>
            {% endif %}
          {% endfor %}
          {% else %}
          <a href="/playlist">Add playlist - <i class="fa fa-plus-square"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end abouts -->
{% endblock %}
