{% extends 'base.html' %}

{% block title %} Welcome {{ user }} {% endblock %}

{% block nav %}
    <body class="main-layout">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="index.html"><img src="/images/logo.png" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">
              
               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="/">Home</a> </li>
                      <li  > <a  class="last_manu" href="#"><img src="/images/search_icon.png" alt="#" /></a> </li>
                     </ul>
                     <form action="/logout?_method=DELETE" method="POST">
                        <ul class="menu-area-main">
                        <li><button type="Submit">Logout</button></li>
                       </ul>
                     </form>
                   </nav>
                
               </div> 
             </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->
{% endblock %}
{% block content %}
<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- about  -->
<div id="about" class="about">
  <div class="container">
    <div class="row display_boxflex">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>Add track to playlist</h2>
          <form class="about-box contact_bg" method="POST" action="/track">
            <select class="contactus" name="playlistChoice">
                {% for playlist in playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                {% else %}
                    <option>You don't have any playlists</option>
                {% endfor %}
            </select>
            <input hidden="true" type="text" name="trackId" value="{{ trackId }}"/>
            <input hidden="true" type="text" name="trackName" value="{{ trackName }}"/>
            <button type="submit">Add track<i class="fa fa-plus-square"></i></button>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure><img src="/images/about.png" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end abouts -->
{% endblock %}
